* {
    @import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
    font-family: "Playfair Display SC", Serif;
}

/*table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}*/

.southwest-header {
    background-image: url("img/southwester-texture.jpeg");
    background-size: contain;
}

.card-add, .card-roast{
    background-image: url("img/southwester-texture.jpeg");
    background-size: cover;
}
h1 {
    color: rgba(0, 0 , 0, 1);
}

.card-text, .card-title {
    color: darkred;
    text-align: center;
}

a {
    margin-right: .5em;
}
.title-opaque {
    background: rgba(255, 255 , 255, .7);
    text-align: start;
}

body {

background: url("img/wodden-wall.jpeg");
background-size: auto;
}

.card-add, .card-roast {
    color: white;
    font-size: 14px;
    text-align: center;
}

p {
  padding-bottom: 3em;
}
/*.coffee-sel {*/
/*    margin: 2em;*/
/*    padding-right: 5em;*/
/*}*/